<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verification</title>
    <link type="text/css" rel="stylesheet" href="/css/verification.css">

</head>

<body>
    <div id ="mainDiv" class="mainDiv">
        <div class="outerDiv">

            <div class="thanxDiv">
                <p id="thanx">Thanks for your feedback!</p>
                <p style="display: none" id="contact">We will contact you soon if needed.</p>
                <p id="connect">For connecting with you further, please give us more detail.</p>
            </div>

            <div id ="phoneNumberDiv"class="phoneNumber">
                <label for="phone number">Phone Number or Email:</label>
                <input type="text" id="phoneNumber" name="phoneNumber">
            </div>
        </div>
        <div id ="btnDiv" class="btnDiv">
            <button id ="verifyBtn" class="button" type="button">
                Verified</button>
        </div>

    </div>

</body>

<script type="module" src="/js/verification.js"></script>

</html>